<div
  class="flex flex-row"
  style="
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100vw;
    top: 100vh;
    height: 100vh;
    width: 200vw;
    padding: 700px;
  "
>
  <div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit,
    exercitationem. Hic tenetur pariatur eaque molestiae fugiat dolore error
    impedit iusto. Minima est sit veritatis error vitae quod, aliquid temporibus
    ipsa, et dignissimos illum nisi! Fuga unde cupiditate quas optio ullam a.
    Voluptas, quis ullam nulla minus rerum perferendis porro voluptates
    veritatis ipsam eligendi fugit odit laboriosam explicabo ea quod,
    necessitatibus nemo iure corrupti quibusdam exercitationem! Eum iste
    exercitationem, ex sunt veniam alias? Quae tempora commodi neque vitae fuga
    distinctio, amet aliquid harum earum tempore iste atque beatae modi
    pariatur! Nihil, esse possimus quod dignissimos magni cupiditate rem hic
    alias nesciunt. Nulla architecto cumque explicabo optio adipisci illo
    voluptates dolorum quae? Ab, id eaque. In quisquam nemo sunt, iusto quasi
    molestias sint inventore fuga doloribus sit quibusdam hic deserunt
    consectetur, nulla eaque doloremque omnis excepturi dolorem! Nostrum animi
    esse, explicabo nobis omnis error labore consectetur. Expedita harum quis
    vitae dolore similique. Blanditiis quas ratione minus veniam incidunt illum
    quaerat animi? Quo impedit delectus, doloribus reiciendis perspiciatis
    repellendus accusamus eaque perferendis harum iure itaque. Fugit mollitia
    corporis cupiditate, voluptatum, nemo, at incidunt sapiente quibusdam
    explicabo ullam non repellendus? Aut, laudantium ex adipisci cumque
    quibusdam minima numquam voluptate. Molestiae placeat ratione autem quis?
  </div>
  <div style="height: fit-content">
    <button style="padding: 4px; border: 2px solid" (click)="toggle()">
      Toggle
    </button>
    @if (show) {
      <div
        ngAutoPosition
        style="
          width: 500px;
          height: 200px;
          border: 1px solid;
          background-color: white;
        "
      ></div>
    }
  </div>
  <div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit,
    exercitationem. Hic tenetur pariatur eaque molestiae fugiat dolore error
    impedit iusto. Minima est sit veritatis error vitae quod, aliquid temporibus
    ipsa, et dignissimos illum nisi! Fuga unde cupiditate quas optio ullam a.
    Voluptas, quis ullam nulla minus rerum perferendis porro voluptates
    veritatis ipsam eligendi fugit odit laboriosam explicabo ea quod,
    necessitatibus nemo iure corrupti quibusdam exercitationem! Eum iste
    exercitationem, ex sunt veniam alias? Quae tempora commodi neque vitae fuga
    distinctio, amet aliquid harum earum tempore iste atque beatae modi
    pariatur! Nihil, esse possimus quod dignissimos magni cupiditate rem hic
    alias nesciunt. Nulla architecto cumque explicabo optio adipisci illo
    voluptates dolorum quae? Ab, id eaque. In quisquam nemo sunt, iusto quasi
    molestias sint inventore fuga doloribus sit quibusdam hic deserunt
    consectetur, nulla eaque doloremque omnis excepturi dolorem! Nostrum animi
    esse, explicabo nobis omnis error labore consectetur. Expedita harum quis
    vitae dolore similique. Blanditiis quas ratione minus veniam incidunt illum
    quaerat animi? Quo impedit delectus, doloribus reiciendis perspiciatis
    repellendus accusamus eaque perferendis harum iure itaque. Fugit mollitia
    corporis cupiditate, voluptatum, nemo, at incidunt sapiente quibusdam
    explicabo ullam non repellendus? Aut, laudantium ex adipisci cumque
    quibusdam minima numquam voluptate. Molestiae placeat ratione autem quis?
  </div>
</div>
